Efficient way to improve python code performance

### 1. Exchange value of two, without temporary variable

In [1]:
a = 1
b = 2
print('\t   a = {}, b = {}'.format(a, b))
a, b = b, a
print('Exchanged, a = {}, b = {}'.format(a, b))

	   a = 1, b = 2
Exchanged, a = 2, b = 1

### 2. Get index when iterate list

In [2]:
colors = ['red', 'green', 'blue', 'yellow']
for i, color in enumerate(colors):
    print(i, '===>', color)

0 ===> red
1 ===> green
2 ===> blue
3 ===> yellow

### 3. Concatenate strings

In [3]:
info = ['bangda', 'is', 'student', 'of', 'columbia university']
print(' '.join(info))

bangda is student of columbia university

### 4. Using list/dictionary comprehension rather than for loop

### 5. List: like array list in java - search is more efficient than update

In [4]:
#   in data structure we have doubly linked list
from collections import deque
names = deque(['one', 'two', 'three', 'four', 'five', 'six'])
print(names)
names.popleft()  # removeFirst
print(names)
names.appendleft('zero')  # addFirst
print(names)

deque(['one', 'two', 'three', 'four', 'five', 'six'])
deque(['two', 'three', 'four', 'five', 'six'])
deque(['zero', 'two', 'three', 'four', 'five', 'six'])

### 6. Iterate dictionary (for large dictionary)

In [5]:
mydict = {'monday' : 17, 'tuesday' : 18, 'wednesday' : 16, 'thursday' : 20}
for k, v in mydict.items():
    print(k, '==>', v)

monday ==> 17
tuesday ==> 18
wednesday ==> 16
thursday ==> 20

### 7. Concatenate boolean operator

In [6]:
n = 10
result = 1 < n < 20
print(result)

True

### 8. Conditional assgin

In [7]:
num = 20
result = 'even' if num % 2 == 0 else 'odd'
result

'even'

### 9. Multiple lines of string

In [8]:
myquery = ("select * "
           "from optContract "
           "where opraRoot = 'AAPL'")  # notice the whitespace at the end of each line
myquery

"select * from optContract where opraRoot = 'AAPL'"

### 10. Check object

In [9]:
lst = [1, 2, 3]
print(dir(lst))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

### 11. Check the memory usage of object

In [10]:
import sys
x = 1
print(sys.getsizeof(x))

y = 'bangda'
print(sys.getsizeof(y))

28
55

### 12. Check the missing value of dataframe

- `.any()` and `.all()` rather than `.sum()`

In [11]:
import numpy as np
import pandas as pd

x = [1, 2, np.nan, 3, np.nan]
y = [1, 2, 3, 3, np.nan]
data = pd.DataFrame(data=dict(x=x, y=y))
data

     x    y
0  1.0  1.0
1  2.0  2.0
2  NaN  3.0
3  3.0  3.0
4  NaN  NaN

In [12]:
data.isnull().any(axis='columns')

0    False
1    False
2     True
3    False
4     True
dtype: bool

In [13]:
data.isnull().all(axis='columns')

0    False
1    False
2    False
3    False
4     True
dtype: bool

### 13. Get values within range for dataframe

- `.between()`

In [14]:
(data['x'] >= 2) & (data['x'] <= 3)

0    False
1     True
2    False
3     True
4    False
Name: x, dtype: bool

In [15]:
data['x'].between(2, 3)

0    False
1     True
2    False
3     True
4    False
Name: x, dtype: bool

### To be continued...