In [5]:
"""
   Basis of python 
   from: 
       https://www.codecademy.com/learn/python
       https://www.datacamp.com/courses/intro-to-python-for-data-science
       https://www.datacamp.com/courses/intermediate-python-for-data-science
"""

In [3]:
### 1. Basic syntax.
"""
    Basic syntax of python is consistent with other popular programming languages
    such as C/C++/Java. And it's case sensitive.
"""

In [9]:
### 2. As math calculator
#   numbers: integer and float
calc = [2 + 3, 4 * 7, 8 / 5, 8.0 / 5, 3 ** 2, 9 ** .5, 9 % 5]
calc

[5, 28, 1, 1.6, 9, 3.0, 4]

In [12]:
for x in calc :
    print(type(x))

<type 'int'>
<type 'int'>
<type 'int'>
<type 'float'>
<type 'int'>
<type 'float'>
<type 'int'>

In [13]:
### 3. Basic data type
#   int, float, bool, str
#   use type() to check the type of variable
myint = 1
myfloat = 1.3
print(int(myfloat), type(myint), type(myfloat))

1

In [14]:
#   True -> 1, False -> 0
mybool = True
print(mybool, mybool + 1)

(True, 2)

In [16]:
myname = 'bangda sun'
myschool = 'columbia university'
myname + " " + myschool

'bangda sun columbia university'

In [17]:
#   convert to str type
str(2996)

'2996'

In [18]:
#   escaping characters
mydeclare = 'This\'s my house'
print(mydeclare)

This's my house

In [19]:
#   indexing characters in string
'bangda'[0]

'b'

In [21]:
#   string methods
myname.upper()

'BANGDA SUN'

In [22]:
myname.lower()

'bangda sun'

In [23]:
len(myname) # len() function is very useful!

10

In [25]:
#   string print (also can be applied on other data types)
print("My name is %s and I\'m from %s" % (myname, myschool))

My name is bangda sun and I'm from columbia university